.card {
  background-color: #141414;
  color: #fff;
}

.cardBackground {
  background-color: #1f1f1f;
}

.linkBackground {
  background-color: #333;
}

.neon {
  color: #c4f82a;
}

.container {
  height: 100vh;
  width: 100vw;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #c4f82a;
}